.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Metropolis";
  src: local("Metropolis"),
    url(./fonts/Metropolis/Metropolis-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Metropolis-Bold";
  /* font-weight: 900; */
  src: local("Metropolis"),
    url(./fonts/Metropolis/Metropolis-Bold.otf) format("opentype");
}

@font-face {
  font-family: "Metropolis-Light";
  src: local("Metropolis"),
    url(./fonts/Metropolis/Metropolis-Light.otf) format("opentype");
}

@font-face {
  font-family: "Metropolis-SemiBold";
  src: local("Metropolis"),
    url(./fonts/Metropolis/Metropolis-SemiBold.otf) format("opentype");
}
